* Resetare CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: .50rem;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    width: 35rem;
  max-width: calc(100vw - 10px);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: cover;

}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

#profile-image {
  padding: .0065rem;
  background-color: #666;
width: 9.5rem;
height: 9.5rem;
border-radius: 100%;
border-width: 10px;
border-style: double;
border-color: #FFFFFF;
filter: grayscale(50%);
display: inline-block;
    
}

#profile-image:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

#profile-image {
  margin-top: -3.75rem;
}

/* Linkurile de contact */

ul {
  list-style-type: none;
}

li {
  display: inline;
  opacity: 1;
  transform: none;
}

.head, #about {
  margin-bottom: 10%;
}

.content {
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  padding: 5% 10%;
}

body{
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
overflow: hidden;
background: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg') no-repeat center center fixed;
background-size: cover;

}

h1, h2 {
  font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.links {
  border-top-style: double;
}



a {
  box-sizing: border-box;
  font-size: 2.75em;
  gap: 1.2rem;
  border-style: dotted;
  border-radius: 5%;

}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}

